<main class="body">
  <button type="button" class="btn btn-primary button1" [routerLink]="['/add']">
    დამატება
  </button>
  <button
    type="button"
    class="btn btn-primary button3"
    (click)="userList()"
  >
    თქვენი სია
  </button>
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="ძებნა მისამართით"
      [(ngModel)]="search"
    />
  </div>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">ნივთის სახელი</th>
        <th scope="col">ნივთის ადგილმდებარეობა</th>
        <th scope="col">ფასი (ლარებში)</th>
        <th scope="col">ოპერაციები</th>
      </tr>
    </thead>
    <tbody *ngFor="let inventory of inventoryList">
      <ng-container>
        <tr>
          <th>{{ inventory.name }}</th>
          <td>{{ inventory.address }}</td>
          <td>{{ inventory.price }}</td>
          <td>
            <button
              type="button"
              class="btn btn-danger"
              (click)="deleteInventory(inventory.id)"
            >
              წაშლა
            </button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
  <ng-container>
    <div class="">
      <div class="card-body" *ngIf="!inventoryList.length">
        {{ emptySting }}
      </div>
    </div>
  </ng-container>
  <button type="button" class="btn btn-primary button2" [routerLink]="['/add']">
    დამატება
  </button>
  <nav aria-label="Page navigation example">
    <ul class="pagination" *ngIf="pagination.count >= 10">
      <li class="page-item" [class.active]="n+1 == pagination.page" *ngFor="let i of counter(pagination.pages); index as n">
        <a
          class="page-link"
         (click)="changePage(n+1)"
          >{{n+1}}</a
        >
      </li>
    </ul>
  </nav>
  <br>
  <br>
  <br>
  <br>
  <br>
</main>
